* {
    font-family: 'Pretendard';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: url(../../../packages/pretendard/dist/web/static/woff2-dynamic-subset/Pretendard-Light.subset.0.woff2) format('woff2'), url(../../../packages/pretendard/dist/web/static/woff-dynamic-subset/Pretendard-Light.subset.0.woff) format('woff');
	unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}